<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Books discriptions</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<th:block th:include="fragments/navBar.html :: headerfiles">
</th:block>

<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css"
	rel="stylesheet">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>


<body>
	<th:block th:include="fragments/navBar.html :: navBar"></th:block>
	<div class="container mt-7">
		<h2 class="mb-5">Books discriptions</h2>


		<form th:action="@{/books_list/1/search}">
			Filter: <input type="text" name="autor" th:value="${autor}" />
			&nbsp; <input type="submit" value="Search" />

		</form>



		<div class="row">

			<div class="col">
				<div class="card shadow">
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead class="thead-light">
								<tr>
									<th scope="col"><a
										th:href="@{'/books_list/' + ${currentPage} + '?sortField=title'}">Title</th>
									<th scope="col"><a
										th:href="@{'/books_list/' + ${currentPage} + '?sortField=autor'}">Autor</th>
									<th scope="col">Year</th>
									<th scope="col">Add to Catalog</th>
									<th scope="col">Edit</th>
									<th scope="col">Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="book : ${books}">
									<td><span class="mb-0 text-base" th:text="${book.autor}"></span></td>
									<td><span class="mb-0 text-base" th:text="${book.title}"></span></td>
									<td><span class="mb-0 text-base" th:text="${book.year}"></span></td>

									<td>
										<form class="mb-0 text-base"
											th:action="@{/books_list/{bookId}/catalog(bookId=${book.id})}"
											th:method="post">
											<input class="btn btn-success" type="submit" value="Add" />
										</form>
									</td>

									<td>
										<form class="mb-0 text-base"
											th:action="@{/books_list/edit/{bookId}(bookId=${book.id})}"
											th:method="post">
											<input class="btn btn-secondary" type="submit" value="Edit" />
										</form>
									</td>
									<td>
										<form class="mb-0 text-base"
											th:action="@{/books_list/delete/{bookId}(bookId=${book.id})}"
											th:method="post">
											<input class="btn btn-danger" type="submit" value="Delete" />
										</form>
									</td>

								</tr>


							</tbody>
						</table>
					</div>
					<div class="card-footer py-4">
						<nav aria-label="...">
							<ul class="pagination justify-content-end mb-0">

								<span th:each="i: ${#numbers.sequence(1, totalPages)}">
									<li class="page-item"><a class="page-link"
										th:if="${currentPage != i}"
										th:href="@{'/books_list/' + ${i}} +'?sortField=' + ${sortField}">[[${i}]]</a></li>
									<li class="page-item active"><span class="page-link"
										th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;</li>
								</span>

							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>