<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Catalog</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<th:block th:include="fragments/navBar.html :: headerfiles">
</th:block>

<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css"
	rel="stylesheet">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>


<body>
	<th:block th:include="fragments/navBar.html :: navBar"></th:block>
	<div class="container mt-7">
		<h2 class="mb-5">Catalog</h2>
		<div class="row">

			<div class="col">
				<div class="card shadow">
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead class="thead-light">
								<tr>

									<th scope="col"><a th:href="@{'/catalog/' + ${currentPage} + '?sortField=bookDiscription.autor'}">Autor</a></th>
									<th scope="col"><a th:href="@{'/catalog/' + ${currentPage} + '?sortField=bookDiscription.title'}">Title</a></th>
									<th scope="col">Year</th>
									<th scope="col">Status</th>
									<th scope="col" sec:authorize="hasRole('ROLE_USER')">Order</th>
									<th scope="col"
										sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIBRARIAN')">Reader's
										name</th>
									<th scope="col" sec:authorize="hasRole('ROLE_LIBRARIAN')">Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="catalog : ${catalog}">
									<td><span class="mb-0 text-base"
										th:text="${catalog.bookDiscription.autor}"></span></td>
									<td><span class="mb-0 text-base"
										th:text="${catalog.bookDiscription.title}"></span></td>
									<td><span class="mb-0 text-base"
										th:text="${catalog.bookDiscription.year}"></span></td>
									<td><span class="mb-0 text-base"
										th:if="${catalog.status == T(by.grodno.vika.librarywebapp.domain.Status).DUE_TO}"
										th:text="|${catalog.status}  ${#dates.format(catalog.readersBook.dueDate, 'dd-MM')}|">
									</span> <span class="mb-0 text-base"
										th:unless="${catalog.status == T(by.grodno.vika.librarywebapp.domain.Status).DUE_TO}"
										th:text="${catalog.status}"> </span></td>


									<td sec:authorize="hasRole('ROLE_USER')">
										<form class="mb-0 text-base"
											th:action="@{/reader/{catalogId}/add(catalogId=${catalog.id})}"
											th:method="post"
											th:if="${catalog.status == T(by.grodno.vika.librarywebapp.domain.Status).AVAILABLE}">
											<input class="btn btn-secondary" type="submit" value="Order" />
										</form>
									</td>

									<td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIBRARIAN')"
										class="mb-0 text-base"><a
										th:href="@{users/profile/books(userId=${catalog?.readersBook?.ownerUser?.id})}"
										th:text="${catalog?.readersBook?.ownerUser?.lastName}"></a></td>

									<td sec:authorize="hasRole('ROLE_LIBRARIAN')">
										<form class="mb-0 text-base"
											th:action="@{/catalog/delete/{catalogId}(catalogId=${catalog.id})}"
											th:method="post"
											th:if="${catalog.status == T(by.grodno.vika.librarywebapp.domain.Status).AVAILABLE}">
											<input class="btn btn-danger" type="submit" value="Delete" />
										</form>
									</td>

								</tr>


							</tbody>
						</table>
					</div>
					<div class="card-footer py-4">
						<nav aria-label="...">
							<ul class="pagination justify-content-end mb-0">




								<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <li class="page-item"><a class="page-link" 
									th:if="${currentPage != i}" th:href="@{'/catalog/' + ${i}} +'?sortField=' + ${sortField}">[[${i}]]</a></li>
									<li class="page-item active"><span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
								</li></span>






							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>