<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Books discriptions</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<body>



	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Autor</th>
				<th scope="col">Title</th>
				<th scope="col">Year</th>
				<th scope="col">Status</th>
				<th scope="col">Order</th>

				<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Change
					status</th>
				<th scope="col">Who have it</th>
				<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>


			</tr>
		</thead>

		<tr th:each="catalog : ${catalog}">
			<td th:text="${catalog.bookDiscription.autor}" />
			<td th:text="${catalog.bookDiscription.title}" />
			<td th:text="${catalog.bookDiscription.year}" />
			<td th:text="${catalog.status}" />
			<td>
				<form
					th:action="@{/reader/{catalogId}/add(catalogId=${catalog.id})}"
					method="post">


					<input type="submit" value="Order" />
				</form>
			</td>
			<td sec:authorize="hasRole('ROLE_ADMIN')">
				<form
					th:action="@{/catalog/{catalogId}/status_update(catalogId=${catalog.id})}"
					method="post">
					<select name="status">
						<option
							th:each="statusOpt : ${T(by.grodno.vika.librarywebapp.domain.Status).values()}"
							th:value="${statusOpt}" th:text="${statusOpt}"></option>
					</select> <input type="submit" value="Submit" />
				</form>


			</td>
			<td><a th:href="@{users/profile(userId=${catalog?.readersBook?.ownerUser?.id})}"
				th:text="${catalog?.readersBook?.ownerUser?.lastName}"></a></td>



		</tr>
	</table>

	<br />
	<br />

	<form th:action="@{/books}" method="get">
		<input class="btn btn-dark" type="submit" value="Books discriptions">
	</form>

</body>
</html>