<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link href="css/catalog_style.css" rel="stylesheet">
</head>
<body>
<table>
    <tr>
        <th>Title</th>
        <th>Autor</th>
        
    </tr>
    <th:block th:each="book : ${discr}">
        <tr>
            <td th:text="${book.title}"></td>
            <td th:text="${book.autor}"></td>
            
            
        </tr>
    </th:block>
</table>
<form action="/createOrder" method="post" th:object="${order}">
    <input name="title" type="text">
    <input name="price" type="text">
    <input type="submit" value="Create order">
</form>
</body>
</html>
