<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/prof.css">

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css">

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
	<!-- partial -->
	<div class="main-panel">
		<div class="c0ontainer">


			<div class="roww">
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card">
						<div class="profile-card">

							<div class="profile-header">


								<div class="user-image">
									<img
										src="https://scontent.fslv1-1.fna.fbcdn.net/v/t1.0-1/p240x240/71764978_543119796448430_5969446522109034496_n.jpg?_nc_cat=105&_nc_oc=AQnoaTQx8fxeyzbIbtQyvZXghFdEQl-ds6NQr_13xAXuGmWnigS1zJHTuH8sKv5e9-TSN3KRAuptCtwM-LlwxidP&_nc_ht=scontent.fslv1-1.fna&oh=52752a53e6b91980d3f9bf227064a95d&oe=5E5A25B9"
										class="img ">
								</div>
							</div>

							<div class="profile-content">
								<div class="profile-name"
									th:text="|${userN.firstName} ${userN.lastName}|"></div>
								<div class="profile-designation" th:text=${userN.role}></div>

								<ul class="profile-info-list">

									<a href="info" class="profile-info-list-item"><i
										class="mdi mdi-account"></i>Profile</a>
										
									<a href="books" class="profile-info-list-item"><i
										class="mdi mdi-bookmark-check"></i>Books</a>
										
										
									<a href="" class="profile-info-list-item"><i
										class="mdi mdi-eye"></i>Timeline</a>
									<a href="" class="profile-info-list-item"><i
										class="mdi mdi-movie"></i>Medias</a>


								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-9 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title font-weight-bold">About</p>
							<hr>
							<p class="card-description">
								User Information <a href="" class="about-item-edit">Edit</a>
							</p>
							<ul class="about">
								<li class="about-items"><i class="mdi mdi-account icon-sm "></i><span
									class="about-item-name">First Name:</span><span
									class="about-item-detail" th:text=${userN.firstName}></span></li>
								<li class="about-items"><i class="mdi mdi-account icon-sm "></i><span
									class="about-item-name">Last Name:</span><span
									class="about-item-detail" th:text=${userN.lastName}></span></li>
								<li class="about-items"><i class="mdi mdi-account icon-sm "></i><span
									class="about-item-name">Registration date:</span><span
									class="about-item-detail" th:text="${#dates.format(userN.credentials.creationDate, 'dd-MM-yyyy')}"></span></li>
									
										
							</ul>
							<p class="card-description">
								Contact Information <a href="" class="about-item-edit">Edit</a>
							</p>
							<ul class="about">
								<li class="about-items"><i class="mdi mdi-phone icon-sm "></i><span
									class="about-item-name">Phone:</span><span
									class="about-item-detail">*******</span></li>

								<li class="about-items"><i
									class="mdi mdi-email-outline icon-sm "></i><span
									class="about-item-name">Email:</span><span
									class="about-item-detail" th:text=${userN.email}></span></li>

								<li class="about-items"><i class="mdi mdi-cake icon-sm "></i><span
									class="about-item-name">Birthday:</span><span
									class="about-item-detail">****</span></li>

							</ul>


						</div>
					</div>
				</div>

			</div>




		</div>



		<!-- content-wrapper ends -->
		<!-- partial:partials/_footer.html -->


		<!-- partial -->
	</div>

	<!--	<form th:action="@{/logout}" method="post">		<input type="submit" value="Sign Out" />	</form>  -->


</body>

</html>

