<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/prof.css">

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css">

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
	<!-- partial -->
	<div class="main-panel">
		<div class="c0ontainer">


			<div class="roww">
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card">
						<div class="profile-card">

							<div class="profile-header">


								<div class="user-image">
									<img th:src="@{/users/{uid}/img(uid=${user.id})}" class="img ">
								</div>
							</div>

							<div class="profile-content">
								<div class="profile-name"
									th:text="|${user.firstName} ${user.lastName}|"></div>
								<div class="profile-designation" th:text=${user.role}></div>

								<ul class="profile-info-list">

									<a href="info" class="profile-info-list-item"><i
										class="mdi mdi-account"></i>Profile</a>

									<a href="books" class="profile-info-list-item"><i
										class="mdi mdi-bookmark-check"></i>Books</a>
									





								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-9 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title font-weight-bold">About</p>
							<hr>
							<p class="card-description">
								User Information <a href="edit" class="about-item-edit">Edit</a>
							</p>
							<ul class="about">
								<li class="about-items"><i class="mdi mdi-account icon-sm "></i><span
									class="about-item-name">First Name:</span><span
									class="about-item-detail text-base" th:text="${user.firstName}"></span></li>
								<li class="about-items"><i class="mdi mdi-account icon-sm "></i><span
									class="about-item-name">Last Name:</span><span
									class="about-item-detail text-base" th:text="${user.lastName}"></span></li>
								<li class="about-items"><i
									class="mdi mdi-clipboard-account icon-sm "></i><span
									class="about-item-name">Registration:</span><span
									class="about-item-detail text-base"
									th:text="*{#dates.format(user.credentials[0].creationDate, 'dd-MM-yyyy')}"></span></li>

							</ul>
							<p class="card-description" text-base>
								Contact Information <a href="" class="about-item-edit">Edit</a>
							</p>
							<ul class="about">
								<li class="about-items"><i class="mdi mdi-phone icon-sm "></i><span
									class="about-item-name">Phone:</span><span
									class="about-item-detail text-base">*******</span></li>

								<li class="about-items"><i
									class="mdi mdi-email-outline icon-sm "></i><span
									class="about-item-name">Email:</span><span
									class="about-item-detail text-base" th:text=${user.email}></span></li>

								<li class="about-items"><i class="mdi mdi-cake icon-sm "></i><span
									class="about-item-name">Birthday:</span><span
									class="about-item-detail text-base">****</span></li>

							</ul>


						</div>
					</div>
				</div>

			</div>




		</div>

	</div>




</body>

</html>

